<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
    <bean id="kingdom" class="kingdom.earth.EarthKingdom">
        <constructor-arg index="0" value="High Kingdom"/>
        <constructor-arg index="1" ref="planet"/>
    </bean>

    <bean id="planet" class="kingdom.earth.Earth">
        <constructor-arg value="Earth"/>
    </bean>

    <bean id="knight" class="kingdom.earth.KnightImpl">
        <constructor-arg index="0" value="Arthur"/>
        <constructor-arg index="1" ref="kingdom"/>
    </bean>

    <bean id="people" class="kingdom.earth.People"/>

</beans>